### Database
DATABASE_CLIENT=mongo
DATABASE_HOST=db
DATABASE_PORT=27017
DATABASE_USERNAME=thedbusername
DATABASE_PASSWORD=thedbpassword

### Media Library AWS Provider
AWS_ACCESS_KEY_ID=awsaccesskeyid
AWS_ACCESS_SECRET=awsaccesssecret
AWS_ENDPOINT=awsendpoint
AWS_BUCKET=awsbucket
AWS_ACL=public-read
AWS_FOLDER=awsfolder